body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: medium;
	margin: auto;
	width: 80%;
background-color:#A59577;
}

header {
	padding: 10px;
	margin: auto;
	text-align: right;
}

main {
	padding: 10px;
	margin: 30px;
}

button {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:9px;
	border:3px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#16404a;
	font-family:Arial;
	font-size:17px;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
button:active {
	position:relative;
	top:1px;
}

footer{
	font-size: 0.7em;
	}
